/*! Basscss 8.0.1 | http://basscss.com | MIT License */

.max-width-1{ max-width: 28rem } // 24rem
.max-width-2{ max-width: 44rem } // 32rem
.max-width-3{ max-width: 60rem } // 48rem
.max-width-4{ max-width: 76rem } // 64rem

@each $key, $value in (1: 2rem, 2: 1.5rem, 3: 1.25rem, 4: 1rem, 5: .875rem, 6: .75rem) {
  .h#{$key} {
    font-size: $value;
  }
}

@each $key, $value in (1: 1rem, 2: 1.25rem, 3: 1.5rem, 4: 2rem) {
  .fs#{$key} {
    font-size: $value;
  }
}

.shadow-1 { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) }
.shadow-2 { box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12) }
.shadow-3 { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2) }
.shadow-4 { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2) }
.shadow-5 { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) }
.shadow-6 { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) }
.shadow-7 { box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2) }

.font-family-inherit{ font-family:inherit }
.font-size-inherit{ font-size:inherit }
.text-decoration-none{ text-decoration:none }

.bold-500{ font-weight: 500 }
.bold{ font-weight: bold }
.regular{ font-weight:normal }
.italic{ font-style:italic }
.uppercase{ text-transform:uppercase }
.caps{ text-transform:uppercase; letter-spacing: .2em; }

.left-align{ text-align:left }
.center{ text-align:center }
.right-align{ text-align:right }
.justify{ text-align:justify }

.nowrap{ white-space:nowrap }
.break-word{ word-wrap:break-word }

.line-height-1{ line-height: 1 }
.line-height-2{ line-height: 1.125 }
.line-height-3{ line-height: 1.25 }
.line-height-4{ line-height: 1.5 }

.default { cursor: default }
.pointer { cursor: pointer }
.move { cursor: move }
.help { cursor: help }
.not-allowed { cursor: not-allowed }

.list-style-none{ list-style:none }
.underline{ text-decoration:underline }

.truncate{
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.list-reset{
  list-style:none;
  padding-left:0;
}

.inline{ display:inline }
.block{ display:block }
.inline-block{ display:inline-block }
.table{ display:table }
.table-cell{ display:table-cell }

.overflow-hidden{ overflow:hidden }
.overflow-scroll{ overflow:scroll }
.overflow-auto{ overflow:auto }

.clearfix:before,
.clearfix:after{
  content:" ";
  display:table
}
.clearfix:after{ clear:both }

.left{ float:left }
.right{ float:right }

.fit{ height: auto; max-width:100% }

.border-box{ box-sizing:border-box }

.align-baseline{ vertical-align:baseline }
.align-top{ vertical-align:top }
.align-middle{ vertical-align:middle }
.align-bottom{ vertical-align:bottom }

@mixin spacing ($prefix, $style) {
  @each $key, $value in (0: 0, 1: 0.5rem, 2: 1rem, 3: 2rem, 4: 4rem) {
    .#{$prefix}#{$key} { #{$style}:$value !important }
    .#{$prefix}t#{$key} { #{$style}-top:$value !important }
    .#{$prefix}r#{$key} { #{$style}-right:$value !important }
    .#{$prefix}b#{$key} { #{$style}-bottom:$value !important }
    .#{$prefix}l#{$key} { #{$style}-left:$value !important }
    .#{$prefix}x#{$key} { #{$style}-left:$value !important; #{$style}-right:$value !important }
    .#{$prefix}y#{$key} { #{$style}-top:$value !important; #{$style}-bottom:$value !important }
  }
}

@include spacing('m', 'margin');

.mxn1{ margin-left: -.5rem; margin-right: -.5rem; }
.mxn2{ margin-left: -1rem; margin-right: -1rem; }
.mxn3{ margin-left: -2rem; margin-right: -2rem; }
.mxn4{ margin-left: -4rem; margin-right: -4rem; }

.ml-auto{ margin-left:auto }
.mr-auto{ margin-right:auto }
.mx-auto{ margin-left:auto; margin-right:auto; }

@include spacing('p', 'padding');

.col{
  float:left;
  box-sizing:border-box;
}

.col-right{
  float:right;
  box-sizing:border-box;
}

@mixin columns($prefix: '', $count: 12) {
  @for $i from 1 through $count {
    .#{$prefix}col-#{$i} {
      width: 100% * $i/$count;
    }
  }
}

@include columns();

@media #{$breakpoint-sm}{

  .sm-col{
    float:left;
    box-sizing:border-box;
  }

  .sm-col-right{
    float:right;
    box-sizing:border-box;
  }

  @include columns('sm-');
  @include spacing('sm-m', 'margin');
  @include spacing('sm-p', 'padding');

}

@media #{$breakpoint-md}{

  .md-col{
    float:left;
    box-sizing:border-box;
  }

  .md-col-right{
    float:right;
    box-sizing:border-box;
  }

  @include columns('md-');
  @include spacing('md-m', 'margin');
  @include spacing('md-p', 'padding');

}

@media #{$breakpoint-lg}{

  .lg-col{
    float:left;
    box-sizing:border-box;
  }

  .lg-col-right{
    float:right;
    box-sizing:border-box;
  }

  @include columns('lg-');
  @include spacing('lg-m', 'margin');
  @include spacing('lg-p', 'padding');

}

@media #{$breakpoint-xl}{

  .xl-col{
    float:left;
    box-sizing:border-box;
  }

  .xl-col-right{
    float:right;
    box-sizing:border-box;
  }

  @include columns('xl-');
  @include spacing('xl-m', 'margin');
  @include spacing('xl-p', 'padding');

}

.flex{ display:flex }

@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: $i;
  }
}

@for $i from 1 through 12 {
  .flex-grow-#{$i} {
    -webkit-flex-grow: $i;
    flex-grow:         $i;
  }
}

@media #{$breakpoint-sm}{
  .sm-flex{ display:flex }
}

@media #{$breakpoint-md}{
  .md-flex{ display:flex }
}

@media #{$breakpoint-lg}{
  .lg-flex{ display:flex }
}

@media #{$breakpoint-xl}{
  .xl-flex{ display:flex }
}


.flex-column{ flex-direction:column }
.flex-wrap{ flex-wrap:wrap }

.items-start{ align-items:flex-start }
.items-end{ align-items:flex-end }
.items-center{ align-items:center }
.items-baseline{ align-items:baseline }
.items-stretch{ align-items:stretch }

.self-start{ align-self:flex-start }
.self-end{ align-self:flex-end }
.self-center{ align-self:center }
.self-baseline{ align-self:baseline }
.self-stretch{ align-self:stretch }

.justify-start{ justify-content:flex-start }
.justify-end{ justify-content:flex-end }
.justify-center{ justify-content:center }
.justify-between{ justify-content:space-between }
.justify-around{ justify-content:space-around }

.content-start{ align-content:flex-start }
.content-end{ align-content:flex-end }
.content-center{ align-content:center }
.content-between{ align-content:space-between }
.content-around{ align-content:space-around }
.content-stretch{ align-content:stretch }
.flex-auto{
  flex:1 1 auto;
  min-width:0;
  min-height:0;
}
.flex-item {
  @extend .flex;
  @extend .self-stretch;
  @extend .items-start;
  @extend .justify-start;
}
.flex-none{ flex:none }

@for $i from 1 through 4 {
  .order-#{$i} {
    order: $i - 1;
  }
}
.order-last{ order:99999 }

.relative{ position:relative }
.absolute{ position:absolute }
.fixed{ position:fixed }

.top-0{ top:0 }
.right-0{ right:0 }
.bottom-0{ bottom:0 }
.left-0{ left:0 }

@for $i from 1 through 4 {
  .z#{$i} {
    z-index: $i;
  }
}

.border{
  border-style:solid;
  border-width: 1px;
}

.border-top{
  border-top-style:solid;
  border-top-width: 1px;
}

.border-right{
  border-right-style:solid;
  border-right-width: 1px;
}

.border-bottom{
  border-bottom-style:solid;
  border-bottom-width: 1px;
}

.border-left{
  border-left-style:solid;
  border-left-width: 1px;
}

.border-none{ border:0 }

.rounded{ border-radius: 3px }
.circle{ border-radius:50% }

.rounded-top{ border-radius: 3px 3px 0 0 }
.rounded-right{ border-radius: 0 3px 3px 0 }
.rounded-bottom{ border-radius: 0 0 3px 3px }
.rounded-left{ border-radius: 3px 0 0 3px }

.not-rounded{ border-radius:0 }

.hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
}

.hide{
  position:absolute !important;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px, 1px, 1px, 1px);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

// handle broken images
.handle-broken {
  display: block;
  height: auto;
  line-height: 2;
  position: relative;
  text-align: center;
  width: 100%;
  &:before {
    content: "We're sorry, the image below failed to load.";
    display: block;
  }
  &:after {
    content: "(url: " attr(src) ")";
    display: block;
  }
}

// make a CSV from a list
.csv > li:not(:last-child)::after {
  content: ",";
}

@media #{$breakpoint-xs}{
  .xs-hide, .sm-show, .md-show, .lg-show, .xl-show{ display:none !important }
  .xs-center{ text-align:center !important }
}

@media #{$breakpoint-sm} and (max-width: #{$md}){
  .sm-hide, .md-show, .lg-show, .xl-show{ display:none !important }
  .sm-center { text-align: center }
}

@media #{$breakpoint-md} and (max-width: #{$lg}){
  .md-hide, .lg-show, .xl-show{ display:none !important }
  .md-center { text-align: center }
}

@media #{$breakpoint-lg}{
  .lg-hide, .xl-show{ display:none !important }
  .lg-center { text-align: center }
}

@media #{$breakpoint-xl}{
  .xl-hide{ display:none !important }
  .xl-center { text-align: center }
}

.display-none{ display:none !important }
