:placeholder-shown {
  color: rgba(black, .5);
  // placeholder-shown is also the caret when typing
  &:focus {
    color: rgba(black, 1);
  }
}

label, input, select, textarea, button, button[type="button"], input[type="button"], input[type="reset"], input[type="submit"] {
  // these font styles are not inherited from the body!!
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

form {
  input, button, select, textarea {
    // -webkit-appearance: none; // iOS reset
    // -webkit-border-radius: 0; // iOS reset
    display: inline-block;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    margin-bottom: 1em;
    padding: 1rem;
    font-family: $body-font;
  }
  label {
    font-family: $body-font;
    display: inline-block;
    width: 100%;
    outline: none;
    margin-bottom: 0.5rem;
  }
  input[type="submit"], button, button[type="button"], input[type="button"], input[type="reset"], input[type="submit"] {
    // button styles
  }
  textarea {
    resize: none;
    max-width: 100%; // no annoying >100% stretching
  }
}

.radio-group, .checkbox-group {
  display: flex;
  flex-direction: row;
}

// all boxes and radios have these parent wrappers
.custom-checkbox, .custom-radio {
  position: relative;
  display: flex;
  margin-right: -1px;
  input[type=checkbox],
  input[type=radio], label {
    // dont highlight text when double clicking
    user-select: none;
  }
  input[type=checkbox], input[type=radio] {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    transition: all 0.2s ease;
    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:focus {
      outline: none;
    }
  }
  &:hover label {
    color: darken($mid, 8%);
    border: 1px solid darken($mid, 12%);
  }
  label {
    font-family: $body-font;
    display: block;
    padding: $button-padding-y 0;
    line-height: 1;
    min-width: 100px;
    text-align: center;
    color: $mid;
    border: 1px solid $mid;
    transition: all 0.2s ease;
  }
  &.checked label,
  input[type=checkbox]:checked + label,
  input[type=radio]:checked + label {
    color: white;
    background: $primary;
    border-color: $primary;
  }
  // an `inverted` class is there for making simple alternative styles
  &.inverted {
    input[type=checkbox], input[type=radio] {
      // ...
    }
  }
}
